---
import projects from "../utils/projects.json";
import ProjectCard from "./ProjectCard.astro";

---
<section class="flex-col justify-center items-center text-center">
<h2 class="text-center text-3xl p-9"><section class="py-2 flex text-5xl justify-center row-auto items-center text-center text-[--accent] font-bold">Mis Proyectos</section></h2>
<div class="grid-cols-2 gap-6 grid ">
  {
    projects.map((project) => (
    <ProjectCard 
    title={project.title}
    description={project.description}
    code={project.code}
    thumbnail={project.thumbnail}
    link={project.link}
    /> 
    ))
  }
</div>

</section>